*{
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #fff;
  background-color:#dcdcdc;
  margin: 0;
  font-family: Arial, sans-serif;
}

.fixed_nav{
  position: fixed;
  width: 100%;
   z-index: 1;
   top: 0;
}
.topnav {
  overflow: hidden;
  background-color: #1c222a;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}



.topnav a.active {
  background-color: #edb021;
  color: white;
}

.topnav a.logo {
  background-color: black;
  color: white;
  float:right;
}


.small_info{
  text-align: center;
  height: auto;
  background-image: url('../images/background_2.jfif');
  background-size: auto;
  position: relative;
  margin-top:47px;
  font-size: 2em;
  color:black;
  font-weight:bold;
}
.small_info h1{
  padding-top:30px;
}
.small_info p{
  margin-bottom: 0;
}
.text-center{
  color:black; 
  text-align: center;
  font-size: 36px;
}

.split {
    height: 500px;
    width: 50%;
    position: relative;
    overflow-x: hidden;
}

.left {
    left: 0;
    clear:left;
    float:left;
    background-color: #1c222a;
}

.right {
    right: 0;
    background-color: #edb021;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  width:44%;
  text-align: center;
  font-family: arial, sans-serif;
  color: black;
  float:left;
  margin:3% 3%;
}
.card img{
  width:100%;
  height: 250px;
}
.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}


.contact_us {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  width:50%;
  text-align: center;
  font-family: arial, sans-serif;
  float:left;
  margin:5.5% 25% 6% 25%;
  background-color: #FFFFFF;
  color:black;
  position: relative;
}

.texti{
  font-size: 25px;
  position: relative;
  top:20px;
  font-weight:600;
}

.text-center-up{
  margin-top:10%;
  color:black; 
  text-align: center;
  font-size: 36px;
}
.login {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  width:50%;
  text-align: center;
  font-family: arial;
  float:left;
  margin:5.5% 25% 6% 25%;
  background-color: #FFFFFF;
  color:black;
}

.imgcontainer {
    margin: 24px 0 12px 50px;
}

input[type=text], input[type=password], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px  solid black;
    border-radius: 1%;
}
.rmb{
  color:black;
  text-align: center;
} 
button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}


.container_sm {
    padding: 32px;
    background-color: black;
    height: 110px;
}

.container_bg {
    padding: 32px;
    text-align: left;
}

span.psw {
    float: right;
    padding-top: 16px;
    color:white;
    text-align: center;
}
span.psw  a{
    color:white;
}

.fgtpsw{
  color:black;
  padding-top: 16px;
  color:white;
  text-align: center;
}
footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: black;
  clear:left;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
}
.clearfix {
  clear: both;
  font-family: inherit;
  color: rgba(255,255,255,0.2);
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
  .imgcontainer{
    display:none;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
    .container_sm {
    height: 100px;
    }
    span.psw  a{
    font-size:20px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
  .texti{
    font-size: 16px;
  }
}
@media (max-width: 720px){
  #logo_main{
    float:none;
  }
  .topnav a{
    display: block;
    float: left;
    width: 50%;
  }
  .topnav .logo{
    display:block;
    float:none;
    width: 100%;
    font-weight: bold;
    font-size:20px;
  }
  .small_info h1{
    display:none;
  }
  .small_info p{
    margin-top:40px;
    padding-top: 20px;
  }
  .fixed_nav{
    position: relative;
  }
  .small_info{
    margin-top:-43px;
  }
  .card{
    width: 92%;
    margin: 2% 2% 5% 4%;
  }
  .contact_us{
    width: 80%;
    margin:10%;
  }
  .login{
    width: 80%;
    margin:10%;
  }
  .small_info{
      font-size:1em;
  }

}
